@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    /* background-color: #000; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: poppins;
}

/* .navbar {
    box-shadow: 0 1px 3px -2px black;
} */

/*---- Item Component ----*/
.item-price-old {
    text-decoration: line-through;
}

.footer-links li {
    cursor: pointer;
}


/* --- Product Display Page ---*/
.productdisplay-right-price-old {
    text-decoration: line-through;
}

.productdisplay-right-sizes div {
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.cartitems-format-main {
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr;
}